@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');
:root{
    --container_width: 1000px;
    --container_height: 841px;
    --background_color:#5F81B2;
    --text_color_white: #FFFFFF;
    --modal_inputs_width: 460px; 
}
*{
    font-family: 'Nunito', sans-serif;
}
body{
    background: var(--background_color);
    padding: 3.1% 15%;
    position: relative;
    margin: 0px;
}
.container{
    max-width: var(--container_width);
    min-height: var(--container_height);
}
.header{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.title__logo{
    margin: 3px 0px 0px 0px;
    letter-spacing: -0.5px;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--text_color_white);
}
.title___by-name{
    margin: -1px 0px 0px 0px;
    color: var(--text_color_white);
    letter-spacing: -0.6px;
}
.create-task_btn{
    min-width: 287px;
    height: 40px;
    border-radius: 4px;
    padding-top: 2px;
    font-size: 17px;
    margin-top: 26px;
    margin-right: 1px;
    background: #F5D57F;
    border: none;
    letter-spacing: -0.2px;
}
.task_list{
    margin-top: 85px;
    letter-spacing: -0.5px;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main{
    max-width: var(--container_width);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 17px;
    padding-bottom: 30px;
}
.task{
    display: flex;
    background: #FFFBE3;
    border-radius: 4px;
    height: fit-content;
    min-height: 95px;
}
.task__content{
    width: 89.4%;
}
.task__title{
    margin: 0px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin-top: 17px;
    margin-left: 20px;
    max-width: 417px;
}
.task__text{
    margin-left: 20px;
    margin-top: 7px;
    max-width: 417px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.4px;
    margin-bottom: 50px;
}
.task__input{
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    justify-content: space-between;
    margin-right: 18px;
    
}
.task__checkbox{
    border: 0.5px solid #5F81B2;
    border-radius: 4px;
    margin-top: 16px;
    width: 20px;
    height: 21px;
}
.task__checkbox_img{
    margin-left: 1.5px;
    display: none;
}
.task__delete_btn{
    width: 12px;
    height: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
}







.modal{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    background: rgba(17, 17, 17, 0.5);
}
.modal__content{
    margin-left: 32.4%;
    margin-top: 23%;
    margin-right: 32.5%;
    max-width: 458px;
    min-height: 312px;
    background: #FFFBE3;
    border-radius: 4px;
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-rows: 40px auto;
    
}
.modal__title{
  
    font-size: 20px;
    letter-spacing: -0.4px;
    margin-left: -1px;
    margin-top: -3px;

}
.modal__close{
    position: absolute;
    right: 25px;
    top: 20px;
}
.modal__form{
    display: grid; 
}
.modal__title-input{
    max-width: var(--modal_inputs_width);
    height: 40px;
    margin-top: -1px;
    background: #FFFFFF;
    border: 1px solid #5F81B2;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 13px;
    letter-spacing: 0.2px;
}
.modal__text{
    max-width: var(--modal_inputs_width);
    height: 88px;
    padding-left: 13px;
    font-size: 17px;
    padding-top: 7px;
    border: 1px solid #5F81B2;
    border-radius: 4px;
    resize: none;
    margin-top: 10px;
}
.modal__save-task_btn{
    max-width: var(--modal_inputs_width);
    height: 40px;
    background: #5F81B3;
    border-radius: 4px;
    margin-top: 11px;
    border: none;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}
.modal__close_btn{
    max-width: var(--modal_inputs_width);
    height: 40px;
    border: none;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    background: #AEAEAE;
    border-radius: 4px;
    margin-top: 2px;
}
.modal__error{
    max-width: var(--modal_inputs_width);
    display: none;
    margin: 5px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #AC4141;
    
}


